.section{
    padding-top: 5rem;
    background-color: #F0F2F3;
    padding-bottom: 4rem;
    margin: 0 1rem;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.mainHeading{
    color:  #001828;
    font-size: 2.3rem;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding: 4rem 0;
}


.basicProjects{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 2.5rem;
}

.basicProject{
width: 30%;
}
.basicImageContainer{
    /* overflow: hidden; */
    height: 300px;
}
.basicImage{
object-fit: cover;
object-position: center;
width: 100%;
height: 100%;
}
.basicTitle{
    margin: 1rem 0;
}

.basicDescription{
    
    margin: 1rem 0;
}
.basicButtons{
display: flex;
/* justify-content: space-between; */
gap: 1rem;
}

.basicWebsite{
padding: 1rem 1rem; 
background-color: black;
color: white;
outline: none;
border: 1px solid black;
}
.basicCode{
    padding: 1rem 1rem;
    border: 1px solid black;
}


.project{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin:5rem 0;
    justify-content: space-between
}
.left{
    width: 50%;
}
.right{
    width: 50%;

}
.image{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.description{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.8rem;
    color:  #001828;
    /* margin-top: 2rem; */
    font-weight: 300;

}

.buttonContainer{
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
}

.code{
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    background-color: transparent;
    color: rgb(45, 128, 250);
    border: 3px solid rgb(45, 128, 250);
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 6px 8px;
 }
.website{
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
   background-color:  rgb(45, 128, 250);
   color: white;
   box-shadow: rgba(0, 0, 0, 0.15) 2px 6px 8px;
    border: none;
    outline: none;
    border: 3px solid rgb(45, 128, 250);
}



